
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  background-color: white;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #0006;  
}
.card__icon {
  font-size: 4rem;
  float: left;
  padding: 0rem 1rem 0rem 0rem;
}

.card__quote {
  font-size: 18px;
  margin-bottom: 20px;
   
  text-align: center;
}
.card__author {
  text-align: end;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 20px;
}
 
button{
  display: block;
  margin-left: auto;
  padding: 8px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 4px gray;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
   
  
}
 
 